@import url("./components/buttons.css");
@import url("./layouts/header.css");
@import url("./layouts/footer.css");

:root {
  /* Fundos */
  --bg-main: #1e1e1e    ;
  --bg-secondary: #242424;
  --bg-alt: #f9f9f9;
  --bg-footer: #0f0f0f;

  /* Cores institucionais */
  --color-accent: #e6b800; /* Amarelo UFABCHESS */
  --color-primary: #0e5a3c; /* Verde UFABC */

  /* Texto */
  --text-main: #e6e6e6;
  --text-secondary: #c7c7c7;
  --text-alt: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
    font-family: 'Merriweather', Arial;
    font-weight: 400;
    color: var(--color-accent);
    text-align: center;
} 

h2, h3 {
  font-family: 'Merriweather';
  font-weight: 400;
  color: var(--color-primary);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  color: var(--text-main);
  padding: 14px 8px;
}



section {
  padding: 24px 48px;
}

.section-alt {
  background-color: var(--bg-main);
}

#hero {
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}

.hero-container {
  display: flex;
  align-items: center;
  justify-self: space-between;
  width: 100%;
  gap: 60px
}

.hero-text {
  flex: 2;
  text-align: left;
}

.hero-text h1 {
  text-align: left;
  padding: 14px 8px;
}

#p-hero {
  font-size: 32px;
  color: var(--text-secondary);
  padding: 14px 8px;  
}

.hero-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.hero-image img{
  max-width: 100%;
  height: auto;
  width: 362px;
}


#description {
    background-color: var(--bg-secondary);
}


#events {
  background-color: var(--bg-alt);    
}

.text-alt {
  color: #0f0f0f;
}

.article {
    background-color: #ffffff;
    
}
.article p {
    color: var(--text-alt);
    font-size: 16px;
}

.article ul {
  color: var(--text-alt);
  font-size: 16px;
}

.article ol {
  color: var(--text-alt);
  font-size: 16px;
}

.btn-primary {
  align-self: center;
}

.div-container {
  gap: 20px;
}

.div-container p, button {
  padding: 14px 8px;
  gap: 20px;
}

.center-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.center-btn-wrapper a,
.center-btn-wrapper button {
  margin: 0 auto;
  display: inline-block;
}

hr.spacer {
  border: none;
  border-top: 2px solid var(--color-accent); 
  margin: 8.5px auto; 
  width: 93%; 
  opacity: 0.8;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;    
    width: 100%;       
    padding: 0 20px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap:30px
  }

  .hero-text {
    text-align: center;
  }
  

  .hero-text h1 {
    font-size: 32px;
  }

  .about-text {
    width: 100%;
    padding: 10px;
  }

  .center-btn-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .hero-image img {
    height: 195px;
    width: auto;
  }
  
}