.btn-primary {
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.btn-secondary {
  background: transparent;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  
}
